@model IEnumerable<AuthSystem.Models.Report>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Reports";
}

<!DOCTYPE html>
<html lang="en">
<body>
    @*    <span>@Model.FirstOrDefault(m => m == m).TestReport()</span>*@


    <h2>Reports</h2>
    <div class="body-row2">
        <table class="table">
            <tr>
                <th>
                    Reported:
                </th>
                <th>
                    Reporter:
                </th>
                <th>
                    Subject:
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportedUserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reporter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>

                    <td>
                        <a asp-controller="Reports" asp-action="Details" asp-route-id="@item.Id">Click to see details</a>
                    </td>
                    @* <td>
                            @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
                        </td>*@
                </tr>
            }

        </table>
    </div>
</body>
</html>
