@page
@model LoginModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Log in";
}
<div class="">
    <section>
        <div class="ddd">
            <div class="dkdiv">
                <span class="dktext">BiodiverCityMAX</span>
                <img class="dk" src="~/images/De_Kas.jpg" alt="">
            </div>
        </div>
        <div id="loggingin">
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email">@localizer["email"]</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">@localizer["password"]</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group" id="forgotpass">
                    <button type="submit" class="login" id="login">@localizer["login"]</button>
                    <p><a class="forgot" asp-area="Identity" asp-page="/Account/ForgotPassword">@localizer["forgotpass"].</a></p>
                    <p><a class="forgot" asp-area="Identity" asp-page="/Account/login">@localizer["register"].</a></p>
                </div>
            </form>
        </div>

    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
