@model AuthSystem.Models.Product
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Delete";

    string GetBase64String(byte[] picture)
    {
        string imreBase64Data = Convert.ToBase64String(picture);
        string imgDataURL = string.Format("data:image/jpeg;base64,{0}", imreBase64Data);
        return imgDataURL;
    }
}
<div class="body-row2">
    <h1>@localizer["delete"]</h1>

    <p>@localizer["confirm"]</p>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LatinName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LatinName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            @*<dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Soil)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Soil)
                </dd>*@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Picture)
            </dt>
            <dd class="col-sm-10">
                @*@Html.DisplayFor(model => model.Picture)*@
                <img src="@GetBase64String(Model.Picture)" style="width: 10%; display: inline-block; border-radius: 15px;" />

            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Kind)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Kind)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Water)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Water)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Light)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Light)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Trade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Trade)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Delivery)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Delivery)
            </dd>
            @*<dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductDate)
                </dt>*@
            @*<dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductDate)
                </dd>*@
            @*<dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Trade)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Trade)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Delivery)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Delivery)
                </dd>*@
        </dl>
        <div class="button-cre">
            <div class="form-group">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="@localizer["delete"]" class="delete" id="sv" />
                </form>
            </div>
        </div>
        <div class="button">
            <a class="edit" id="sv" asp-action="Index">@localizer["backtoprodpage"]</a>
        </div>
    </div>
</div>