@model AuthSystem.Models.Product

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <div class="textbox-grey">
            <div class="body-row2">
                <div class="plantdesc">
                    <h1>Name: @Html.DisplayFor(model => model.Name)</h1>
                    <p>Latin name: @Html.DisplayFor(model => model.LatinName)</p>
                    <h3 style="text-align:left;">Description:</h3>
                    <p>@Html.DisplayFor(model => model.Description)</p>
                    <ul>
                        <li>Plant kind: @Html.DisplayFor(model => model.Kind)</li>
                        <li>Plant type: @Html.DisplayFor(model => model.Type)</li>
                        <li>Water: @Html.DisplayFor(model => model.Water)</li>
                        <li>Light: @Html.DisplayFor(model => model.Light) </li>
                    </ul>
                    <p>This producted was posted on: @Html.DisplayFor(model => model.ProductDate)</p>
                </div>
                <div class="image1">
                    @*
            @Html.DisplayNameFor(model => model.Picture)
            @Html.DisplayFor(model => model.Trade)
                    *@
                    <img src="https://p0.pikrepo.com/preview/526/679/green-leaves-of-monstera-plant-growing-at-home.jpg" style="width: 100%; height: auto; display: inline-block; border-radius: 15px;">
                    <a asp-controller="Home" asp-action="Chat" class="edit" id="sv">Chat</a>
                </div>
            </div>
        </div>
        <div class="body-row2">
            <div class="title">
                <h1>Other photos of this product</h1>
            </div>
            <div class="image2"  style="margin-right:30px;">
                <img src="https://www.freeimageslive.co.uk/files/images009/seeds.jpg" class="mor-ima">
            </div>
            <div class="image2">
                <img src="https://p2.piqsels.com/preview/949/891/620/herbs-home.jpg" class="mor-ima">
            </div>
            <div class="button-details">
                <a class="edit" id="sv" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="edit" id="sv" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                <a class="edit" id="sv" asp-action="Index" style=" margin-right: 0px !important;">Back to productpage</a>
            </div>
        </div>
    </div>
</body>
</html>

