@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.UI.Services;
@using AuthSystem.Areas.Identity.Data
@model AuthSystem.Models.Product
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Edit";

    string GetBase64String(byte[] picture)
    {
        string imreBase64Data = Convert.ToBase64String(picture);
        string imgDataURL = string.Format("data:image/jpeg;base64,{0}", imreBase64Data);
        return imgDataURL;
    }

}

<div class="body-row2">
    <h1 style="margin-top: 25px;">Change product</h1>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserId" class="form-control" value="@UserManager.GetUserAsync(User).Result.Id" />
        <input type="hidden" asp-for="PublisherName" class="form-control" value="@UserManager.GetUserAsync(User).Result.Nickname" />
        <div class="pro-names">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatinName" class="control-label"></label>
                <input asp-for="LatinName" class="form-control" />
                <span asp-validation-for="LatinName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <p><i>Think about the colour, height, soil type, special traits, etc. (Denk bijvoorbeeld aan de kleur, hoogte, bodemsoort, speciale kenmerken etc.)</i></p>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img name="Picture" src="@GetBase64String(Model.Picture)" style="width: 10%; height: 10%; display: inline-block; border-radius: 15px;" />
                <input type="file" name="Picture" />
            </div>
            <div class="form-group form-check">
                @*<label class="form-check-label">
                        <input class="form-check-input" asp-for="Trade" /> @Html.DisplayNameFor(model => model.Trade): Offering to get something in exchange.
                    </label>
                    <br />
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Post" /> @Html.DisplayNameFor(model => model.Post): Send the product by post.
                    </label>*@
            </div>
        </div>
        <div class="sel-boxes">
            <div class="select-box">
                <div class="form-group">
                    <label asp-for="Kind" class="control-label">Product</label>
                    <select asp-for="Kind" class="form-control" required="required">
                        <option value="" disabled selected hidden>Products</option>
                        <option value="seeds (zaad)">Seeds (Zaden)</option>
                        <option value="bulb (bol)">Bulb (Bol)</option>
                        <option value="cutting (stek)">Cutting (Stek)</option>
                        <option value="seedling (zaadling)">Seedling (Zaadling)</option>
                        <option value="bud (knop)">Bud (Knop)</option>
                        <option value="grown plant (volgroeide plant)">Grown Plant (Volgroeide plant)</option>
                        <option value="other (anders)">Other (Anders)</option>
                    </select>
                    <span asp-validation-for="Kind" class="text-danger"></span>
                </div>
            </div>
            <div class="select-box">
                <div class="form-group">
                    <label asp-for="Type" class="control-label">Product Type</label>
                    <select asp-for="Type" class="form-control" required="required">
                        <option value="" disabled selected hidden>Type</option>
                        <option value="tree (boom)">Tree (Boom)</option>
                        <option value="shrub (struik)">Shrub (Struik)</option>
                        <option value="herb (kruidachtige)">Herb (Kruidachtige)</option>
                        <option value="ground cover (bodembedekker)">Ground Cover (Bodembedekker)</option>
                        <option value="creeper (klimplant)">Creeper (Klimplant)</option>
                        <option value="aquatic (waterplant)">Aquatic (Waterplant)</option>
                        <option value="other (anders)">Other (Anders)</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>
            <div class="select-box">
                <div class="form-group">
                    <label asp-for="Water" class="control-label"></label>
                    <select asp-for="Water" class="form-control" required="required">
                        <option value="" disabled selected hidden>Water</option>
                        <option value="wet (nat)">Wet (Nat)</option>
                        <option value="medium (gemiddeld)">Medium (Gemiddeld)</option>
                        <option value="dry (droog)">Dry (Droog)</option>
                        <option value="no requirement (geen eisen)">No requirement (Geen eisen)</option>
                        <option value="not sure (weet ik niet)">not sure (Weet ik niet)</option>
                    </select>
                    <span asp-validation-for="Water" class="text-danger"></span>
                </div>
            </div>
            <div class="select-box last">
                <div class="form-group">
                    <label asp-for="Light" class="control-label"></label>
                    <select asp-for="Light" class="form-control" required="required">
                        <option value="" disabled selected hidden>Light</option>
                        <option value="sun (zon)">Sun (Zon)</option>
                        <option value="partial shadow (halfschaduw)">Partial Shadow (Halfschaduw)</option>
                        <option value="shadow (schaduw)">Shadow (Schaduw)</option>
                        <option value="no requirement (geen eisen)">No requirement (Geen eisen)</option>
                        <option value="not sure (weet ik niet)">not sure (Weet ik niet)</option>
                    </select>
                    <span asp-validation-for="Light" class="text-danger"></span>
                </div>
            </div>
            <div class="select-box">
                <div class="form-group">
                    <label asp-for="Trade" class="control-label"></label>
                    <select asp-for="Trade" class="form-control" required="required">
                        <option value="" disabled selected hidden>Trade</option>
                        <option value="I want someting in exchange (Ik wil er iets voor terug)">I want someting in exchange (Ik wil er iets voor terug)</option>
                        <option value="I want nothing in exchange (Ik wil er niks voor terug)">I want nothing in exchange (Ik wil er niks voor terug)</option>
                    </select>
                    <span asp-validation-for="Trade" class="text-danger"></span>
                </div>
            </div>
            <div class="select-box">
                <div class="form-group">
                    <label asp-for="Delivery" class="control-label"></label>
                    <select asp-for="Delivery" class="form-control" required="required">
                        <option value="" disabled selected hidden>Delivery</option>
                        <option value="Meet up (Samenkomen)">Meet up (Samenkomen)</option>
                        <option value="Send it by mail (Verzenden per post)">Send it by mail (Verzenden per post)</option>
                    </select>
                    <span asp-validation-for="Delivery" class="text-danger"></span>
                </div>
            </div>
            <div class="product-date">
                @*<div class="form-group">
                        <label asp-for="Soil" class="control-label"></label>
                        <input asp-for="Soil" class="form-control" placeholder="Soil Type" />
                        <span asp-validation-for="Soil" class="text-danger"></span>
                    </div>*@
                <div class="button-cre">
                    <div class="form-group">
                        <input type="submit" value="Save" class="edit" id="sv" />
                    </div>
                </div>
                <div class="button">
                    <a class="edit" id="sv" asp-action="Index">Back to productpage</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
