@using System;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.UI.Services;
@using AuthSystem.Areas.Identity.Data

@model IEnumerable<AuthSystem.Models.Product>

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Your products";
    var userIclickedOn = ViewData["id"].ToString();
    ApplicationUser thisUser = UserManager.FindByIdAsync(userIclickedOn).Result;
    string GetBase64String(byte[] picture)
    {

        if (picture != null)
        {

            string imreBase64Data = Convert.ToBase64String(picture);
            string imgDataURL = string.Format("data:image/jpeg;base64,{0}", imreBase64Data);
            return imgDataURL;
        }
        return "/images/pfp.jpg";
    }
    string pfp = GetBase64String(thisUser.ProfilePicture);
}

<!DOCTYPE html>
<header class="start-header product-pro2">
    <div class="product-pro">
        <div class="slider">
            <div class="slider2">
                <div class="slider-text">
                    <h1>@thisUser.Nickname's products</h1>
                    <div class="pfpdiv" style="background-image:url('@pfp')"></div>
                    @* <div class="pfpdiv" style="background-image:url('@GetBase64String(prod)')"></div>*@
                </div>
            </div>
        </div>
    </div>
</header>
<html lang="en">
<body>
    <div class="body-row">
        <div class="filter-row">
            <div class="search-pr">
                <form asp-controller="Products" asp-action="Index" method="get" class="get-product">
                    <p>Search: </p>
                    <input type="text" name="SearchString" />
                    <input class="edit" id="sv" type="submit" value="Search" />
                </form>
            </div>

            <h2>Filter</h2>
            <form asp-controller="Products" asp-action="Index" method="get" class="get-product2">
                <hr>
                <h4>Product Offer</h4>
                <div class="seed">
                    <input type="checkbox" name="productOffer" value="seed" /><p>Seed</p>
                </div>
                <div class="bulb">
                    <input type="checkbox" name="productOffer" value="bulb" /><p>Bulb</p>
                </div>
                <div class="cutting">
                    <input type="checkbox" name="productOffer" value="cutting" /><p>Cutting</p>
                </div>
                <div class="seedling">
                    <input type="checkbox" name="productOffer" value="seedling" /> <p>Seedling</p>
                </div>
                <div class="bud">
                    <input type="checkbox" name="productOffer" value="bud" /> <p>Bud</p>
                </div>
                <div class="grownplant">
                    <input type="checkbox" name="productOffer" value="grownplant" /> <p>Grown plant</p>
                </div>
                <hr>
                <h4>Product Type</h4>
                <div class="tree">
                    <input type="checkbox" name="productType" value="tree" /> <p>Tree</p>
                </div>
                <div class="shrub">
                    <input type="checkbox" name="productType" value="shrub" /> <p>Shrub</p>
                </div>
                <div class="herb">
                    <input type="checkbox" name="productType" value="herb" /> <p>Herb</p>
                </div>
                <div class="ground cover">
                    <input type="checkbox" name="productType" value="ground cover" /> <p>Ground cover</p>
                </div>
                <div class="creeper">
                    <input type="checkbox" name="productType" value="creeper" /> <p>Creeper</p>
                </div>
                <div class="aquatic">
                    <input type="checkbox" name="productType" value="aquatic" /> <p>Aquatic</p>
                </div>
                <input class="edit" id="sv" type="submit" value="Filter" />
            </form>


        </div>


        <div class="pro-page products-row">
            @foreach (var item in Model)
            {
                
                    <div class="product">
                        <img src="@GetBase64String(item.Picture)" id="cover-image" />
                        <a href="/Products/Details/@item.Id">@item.Name <i>@item.LatinName</i></a>
                    </div>
                
            }
        </div>
    </div>
</body>
</html>